/* cake tokens — FINAL (sem confirmed) */
:root {
  --fdn-color-palette-334155: #334155;
  --fdn-color-palette-475569: #475569;
  --fdn-color-palette-737373: #737373;
  --fdn-color-palette-047857: #047857;
  --fdn-color-palette-0f172a: #0F172A;
  --fdn-color-palette-14b8a6: #14B8A6;
  --fdn-color-palette-16a34a: #16A34A;
  --fdn-color-palette-1d4ed8: #1D4ED8;
  --fdn-color-palette-1e3a8a: #1E3A8A;
  --fdn-color-palette-2563eb: #2563EB;
  --fdn-color-palette-64748b: #64748B;
  --fdn-color-palette-7c3aed: #7C3AED;
  --fdn-color-palette-94a3b8: #94A3B8;
  --fdn-color-palette-9ca3af: #9CA3AF;
  --fdn-color-palette-b91c1c: #B91C1C;
  --fdn-color-palette-e11d48: #E11D48;
  --fdn-color-palette-e2e8f0: #E2E8F0;
  --fdn-color-palette-ea580c: #EA580C;
  --fdn-color-palette-f59e0b: #F59E0B;
  --fdn-color-palette-ffffff: #FFFFFF;
  --fdn-color-palette-dbeafe: #DBEAFE;
  --fdn-color-palette-e0f2fe: #E0F2FE;
  --fdn-color-palette-e5e7eb: #E5E7EB;
  --fdn-color-palette-f0fdf4: #F0FDF4;
  --fdn-color-palette-f0fdfa: #F0FDFA;
  --fdn-color-palette-f1f5f9: #F1F5F9;
  --fdn-color-palette-f3f4f6: #F3F4F6;
  --fdn-color-palette-f5f3ff: #F5F3FF;
  --fdn-color-palette-f5f5f5: #F5F5F5;
  --fdn-color-palette-fafafa: #FAFAFA;
  --fdn-color-palette-fefce8: #FEFCE8;
  --fdn-color-palette-fff1f2: #FFF1F2;
  --fdn-color-palette-fff7ed: #FFF7ED;

  --fdn-spacing-space-0: 0px;
  --fdn-spacing-space-1: 1px;
  --fdn-spacing-space-10: 10px;
  --fdn-spacing-space-12: 12px;
  --fdn-spacing-space-126: 126px;
  --fdn-spacing-space-13: 13px;
  --fdn-spacing-space-16: 16px;
  --fdn-spacing-space-2: 2px;
  --fdn-spacing-space-20: 20px;
  --fdn-spacing-space-24: 24px;
  --fdn-spacing-space-28: 28px;
  --fdn-spacing-space-4: 4px;
  --fdn-spacing-space-59: 59px;
  --fdn-spacing-space-8: 8px;
  --fdn-spacing-space-80: 80px;

  --fdn-radius-radius-100: 100px;
  --fdn-radius-radius-128: 128px;
  --fdn-radius-radius-4: 4px;
  --fdn-radius-radius-5: 5px;
  --fdn-radius-radius-8: 8px;

  --fdn-shadow-shadow-1: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --fdn-shadow-shadow-2: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --fdn-shadow-shadow-3: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  --fdn-shadow-shadow-4: 0px 2px 1px -1px rgba(0, 0, 0, 0.2);
  --fdn-shadow-shadow-5: -2px 0px 6px 0px rgba(0, 0, 0, 0.1);

  --fdn-typo-style-1-font-family: "Segoe UI";
  --fdn-typo-style-1-font-size: 16px;
  --fdn-typo-style-1-font-weight: 600;
  --fdn-typo-style-1-line-height: 28px;
  --fdn-typo-style-1-letter-spacing: 0.15px;
  --fdn-typo-style-10-font-family: "Segoe UI";
  --fdn-typo-style-10-font-size: 20px;
  --fdn-typo-style-10-font-weight: 700;
  --fdn-typo-style-10-line-height: 30px;
  --fdn-typo-style-10-letter-spacing: 0.15px;
  --fdn-typo-style-11-font-family: "Segoe UI";
  --fdn-typo-style-11-font-size: 14px;
  --fdn-typo-style-11-font-weight: 700;
  --fdn-typo-style-11-line-height: 21.98px;
  --fdn-typo-style-11-letter-spacing: 0.1px;
  --fdn-typo-style-12-font-family: "Segoe UI";
  --fdn-typo-style-12-font-size: 14px;
  --fdn-typo-style-12-font-weight: 400;
  --fdn-typo-style-12-line-height: 20.02px;
  --fdn-typo-style-12-letter-spacing: 0.17px;
  --fdn-typo-style-13-font-family: "Segoe UI";
  --fdn-typo-style-13-font-size: 14px;
  --fdn-typo-style-13-font-weight: 600;
  --fdn-typo-style-13-line-height: 21px;
  --fdn-typo-style-13-letter-spacing: 0.1px;
  --fdn-typo-style-14-font-family: "Segoe UI";
  --fdn-typo-style-14-font-size: 14px;
  --fdn-typo-style-14-font-weight: 400;
  --fdn-typo-style-14-line-height: 20.3px;
  --fdn-typo-style-14-letter-spacing: 0.12px;
  --fdn-typo-style-15-font-family: "Segoe UI";
  --fdn-typo-style-15-font-size: 14px;
  --fdn-typo-style-15-font-weight: 400;
  --fdn-typo-style-15-line-height: 21px;
  --fdn-typo-style-15-letter-spacing: 0.15px;
  --fdn-typo-style-16-font-family: "Segoe UI";
  --fdn-typo-style-16-font-size: 16px;
  --fdn-typo-style-16-font-weight: 700;
  --fdn-typo-style-16-line-height: 24px;
  --fdn-typo-style-16-letter-spacing: 0.15px;
  --fdn-typo-style-17-font-family: "Segoe UI";
  --fdn-typo-style-17-font-size: 16px;
  --fdn-typo-style-17-font-weight: 600;
  --fdn-typo-style-17-line-height: 24px;
  --fdn-typo-style-17-letter-spacing: 0.15px;
  --fdn-typo-style-18-font-family: "Segoe UI";
  --fdn-typo-style-18-font-size: 12px;
  --fdn-typo-style-18-font-weight: 600;
  --fdn-typo-style-18-line-height: 20px;
  --fdn-typo-style-18-letter-spacing: 0.14px;
  --fdn-typo-style-19-font-family: "Segoe UI";
  --fdn-typo-style-19-font-size: 34px;
  --fdn-typo-style-19-font-weight: 700;
  --fdn-typo-style-19-line-height: 41.99px;
  --fdn-typo-style-19-letter-spacing: 0.25px;
  --fdn-typo-style-2-font-family: "Segoe UI";
  --fdn-typo-style-2-font-size: 12px;
  --fdn-typo-style-2-font-weight: 400;
  --fdn-typo-style-2-line-height: 19.92px;
  --fdn-typo-style-2-letter-spacing: 0.4px;
  --fdn-typo-style-20-font-family: "Segoe UI";
  --fdn-typo-style-20-font-size: 12px;
  --fdn-typo-style-20-font-weight: 600;
  --fdn-typo-style-20-line-height: 15.96px;
  --fdn-typo-style-20-letter-spacing: 0.1px;
  --fdn-typo-style-21-font-family: "Segoe UI";
  --fdn-typo-style-21-font-size: 16px;
  --fdn-typo-style-21-font-weight: 700;
  --fdn-typo-style-21-line-height: 24px;
  --fdn-typo-style-21-letter-spacing: 0.15px;
  --fdn-typo-style-22-font-family: "Segoe UI";
  --fdn-typo-style-22-font-size: 12px;
  --fdn-typo-style-22-font-weight: 700;
  --fdn-typo-style-22-line-height: 18.84px;
  --fdn-typo-style-22-letter-spacing: 0.1px;
  --fdn-typo-style-23-font-family: "Segoe UI";
  --fdn-typo-style-23-font-size: 12px;
  --fdn-typo-style-23-font-weight: 600;
  --fdn-typo-style-23-line-height: 18px;
  --fdn-typo-style-23-letter-spacing: 0.1px;
  --fdn-typo-style-24-font-family: "Segoe UI";
  --fdn-typo-style-24-font-size: 14px;
  --fdn-typo-style-24-font-weight: 700;
  --fdn-typo-style-24-line-height: 21px;
  --fdn-typo-style-24-letter-spacing: 0.15px;
  --fdn-typo-style-25-font-family: "Segoe UI";
  --fdn-typo-style-25-font-size: 30px;
  --fdn-typo-style-25-font-weight: 700;
  --fdn-typo-style-25-line-height: 45px;
  --fdn-typo-style-25-letter-spacing: 0.15px;
  --fdn-typo-style-26-font-family: "Segoe UI";
  --fdn-typo-style-26-font-size: 14px;
  --fdn-typo-style-26-font-weight: 600;
  --fdn-typo-style-26-line-height: 21px;
  --fdn-typo-style-26-letter-spacing: 0.15px;
  --fdn-typo-style-27-font-family: "Segoe UI";
  --fdn-typo-style-27-font-size: 16px;
  --fdn-typo-style-27-font-weight: 600;
  --fdn-typo-style-27-line-height: 24px;
  --fdn-typo-style-27-letter-spacing: 0.15px;
  --fdn-typo-style-28-font-family: "Segoe UI";
  --fdn-typo-style-28-font-size: 14px;
  --fdn-typo-style-28-font-weight: 600;
  --fdn-typo-style-28-line-height: 20px;
  --fdn-typo-style-28-letter-spacing: 0px;
  --fdn-typo-style-29-font-family: "Segoe UI";
  --fdn-typo-style-29-font-size: 12px;
  --fdn-typo-style-29-font-weight: 400;
  --fdn-typo-style-29-line-height: 18px;
  --fdn-typo-style-29-letter-spacing: 0.1px;
  --fdn-typo-style-3-font-family: "Roboto";
  --fdn-typo-style-3-font-size: 16px;
  --fdn-typo-style-3-font-weight: 400;
  --fdn-typo-style-3-line-height: 18.75px;
  --fdn-typo-style-3-letter-spacing: 0px;
  --fdn-typo-style-30-font-family: "Segoe UI";
  --fdn-typo-style-30-font-size: 14px;
  --fdn-typo-style-30-font-weight: 700;
  --fdn-typo-style-30-line-height: 21px;
  --fdn-typo-style-30-letter-spacing: 0.1px;
  --fdn-typo-style-31-font-family: "Segoe UI";
  --fdn-typo-style-31-font-size: 14px;
  --fdn-typo-style-31-font-weight: 600;
  --fdn-typo-style-31-line-height: 21.98px;
  --fdn-typo-style-31-letter-spacing: 0.1px;
  --fdn-typo-style-32-font-family: "Segoe UI";
  --fdn-typo-style-32-font-size: 12px;
  --fdn-typo-style-32-font-weight: 700;
  --fdn-typo-style-32-line-height: 16.8px;
  --fdn-typo-style-32-letter-spacing: 0.1px;
  --fdn-typo-style-33-font-family: "Segoe UI";
  --fdn-typo-style-33-font-size: 14px;
  --fdn-typo-style-33-font-weight: 400;
  --fdn-typo-style-33-line-height: 20.3px;
  --fdn-typo-style-33-letter-spacing: 0.1px;
  --fdn-typo-style-34-font-family: "Segoe UI";
  --fdn-typo-style-34-font-size: 16px;
  --fdn-typo-style-34-font-weight: 400;
  --fdn-typo-style-34-line-height: 24px;
  --fdn-typo-style-34-letter-spacing: 0.15px;
  --fdn-typo-style-35-font-family: "Segoe UI";
  --fdn-typo-style-35-font-size: 24px;
  --fdn-typo-style-35-font-weight: 700;
  --fdn-typo-style-35-line-height: 36px;
  --fdn-typo-style-35-letter-spacing: 0px;
  --fdn-typo-style-36-font-family: "Segoe UI";
  --fdn-typo-style-36-font-size: 14px;
  --fdn-typo-style-36-font-weight: 600;
  --fdn-typo-style-36-line-height: 20.3px;
  --fdn-typo-style-36-letter-spacing: 0.12px;
  --fdn-typo-style-37-font-family: "Segoe UI";
  --fdn-typo-style-37-font-size: 12px;
  --fdn-typo-style-37-font-weight: 700;
  --fdn-typo-style-37-line-height: 18px;
  --fdn-typo-style-37-letter-spacing: 0.1px;
  --fdn-typo-style-38-font-family: "Segoe UI";
  --fdn-typo-style-38-font-size: 20px;
  --fdn-typo-style-38-font-weight: 600;
  --fdn-typo-style-38-line-height: 30px;
  --fdn-typo-style-38-letter-spacing: 0.15px;
  --fdn-typo-style-39-font-family: "Segoe UI";
  --fdn-typo-style-39-font-size: 14px;
  --fdn-typo-style-39-font-weight: 600;
  --fdn-typo-style-39-line-height: 22px;
  --fdn-typo-style-39-letter-spacing: 0px;
  --fdn-typo-style-4-font-family: "Roboto";
  --fdn-typo-style-4-font-size: 14px;
  --fdn-typo-style-4-font-weight: 400;
  --fdn-typo-style-4-line-height: 16.41px;
  --fdn-typo-style-4-letter-spacing: 0px;
  --fdn-typo-style-5-font-family: "Segoe UI";
  --fdn-typo-style-5-font-size: 20px;
  --fdn-typo-style-5-font-weight: 600;
  --fdn-typo-style-5-line-height: 26.6px;
  --fdn-typo-style-5-letter-spacing: 0px;
  --fdn-typo-style-6-font-family: "Segoe UI";
  --fdn-typo-style-6-font-size: 32px;
  --fdn-typo-style-6-font-weight: 600;
  --fdn-typo-style-6-line-height: 42.56px;
  --fdn-typo-style-6-letter-spacing: 0px;
  --fdn-typo-style-7-font-family: "Segoe UI";
  --fdn-typo-style-7-font-size: 12px;
  --fdn-typo-style-7-font-weight: 400;
  --fdn-typo-style-7-line-height: 15.96px;
  --fdn-typo-style-7-letter-spacing: 0px;
  --fdn-typo-style-8-font-family: "Segoe UI";
  --fdn-typo-style-8-font-size: 9px;
  --fdn-typo-style-8-font-weight: 400;
  --fdn-typo-style-8-line-height: 11.97px;
  --fdn-typo-style-8-letter-spacing: 0px;
  --fdn-typo-style-9-font-family: "Segoe UI";
  --fdn-typo-style-9-font-size: 10px;
  --fdn-typo-style-9-font-weight: 400;
  --fdn-typo-style-9-line-height: 13.3px;
  --fdn-typo-style-9-letter-spacing: 0px;

  --sem-color-interactive-primary: var(--fdn-color-palette-0f172a);
  --sem-color-interactive-primary-hover: var(--fdn-color-palette-1d4ed8);
  --sem-color-interactive-secondary: var(--fdn-color-palette-0f172a);
  --sem-color-interactive-secondary-hover: var(--fdn-color-palette-1d4ed8);
  --sem-color-text-secondary: var(--fdn-color-palette-737373);
  --sem-color-text-disabled: var(--fdn-color-palette-737373);
  --sem-color-text-inverse: var(--fdn-color-palette-ffffff);
  --sem-color-text-link: var(--fdn-color-palette-0f172a);
  --sem-color-text-link-hover: var(--fdn-color-palette-1d4ed8);
  --sem-color-bg-primary: var(--fdn-color-palette-ffffff);
  --sem-color-bg-secondary: var(--fdn-color-palette-f5f5f5);
  --sem-color-bg-surface: var(--fdn-color-palette-ffffff);
  --sem-color-bg-disabled: var(--fdn-color-palette-f5f5f5);
  --sem-color-bg-brand: var(--fdn-color-palette-0f172a);
  --sem-color-border: var(--fdn-color-palette-737373);
  --sem-color-border-focus: var(--fdn-color-palette-0f172a);
  --sem-color-border-disabled: var(--fdn-color-palette-f5f5f5);
  --sem-color-border-error: var(--fdn-color-palette-b91c1c);
  --sem-color-state-success: var(--fdn-color-palette-f0fdf4);
  --sem-color-state-success-light: var(--fdn-color-palette-16a34a);
  --sem-color-state-warning: var(--fdn-color-palette-fff7ed);
  --sem-color-state-warning-light: var(--fdn-color-palette-f59e0b);
  --sem-color-state-error: var(--fdn-color-palette-b91c1c);
  --sem-color-state-error-light: var(--fdn-color-palette-fff1f2);
  --sem-color-state-info: var(--fdn-color-palette-047857);
  --sem-color-state-info-light: var(--fdn-color-palette-14b8a6);
}
